@import "tailwindcss";
@import "./styles/theme.css";

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  @apply antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
